@page
@using WebApp.Pages.Extensions
@model userSupportWebApp.Areas.SupportApp.Pages.Requests.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "_Delete";
}

<body>
    @Html.DisplayControlsFor(model => model.Item.Description)
    @Html.DisplayControlsFor(model => model.Item.EntryDate)
    @Html.DisplayControlsFor(model => model.Item.DeadLine)
</body>