@page
@using WebApp.Pages.Extensions
@model userSupportWebApp.Areas.Appeal.Pages.Appeals.CreateModel

@{
    Layout = "_Create";
}

<h1>New appeal</h1>

<body>
@Html.EditControlsFor(model => model.Item.Description)
</body>